body{
    margin: 0;
    padding: 0;
}
.pista img {
    height: 200px;
    width: 500px;
    position: absolute;
    
}
.carros_1 img {
    width: 90px;
    height: 85px;
    position: relative;
    left: 130px;
    top: 50px;

}
.carros_2 img {
    width: 90px;
    height: 85px;
    position: relative;
    left: 320px;
    top: 10px;

}